# Gitignore for Raku (https://raku.org)
# As part of https://github.com/github/gitignore

# precompiled files
.precomp
lib/.precomp
.behave-failures
log/error.log
db/test.sqlite3
docs-src/site
.fezignore
db/*.sqlite3
config/application.json
